<footer class="container-fluid bg-primary">
  <div class="container pt-4">
    <div class="row row-cols-md-3 row-cols-1">
      <div class="col pt-3">
        <h4 class="text-light">Redes sociales</h4>
        <ul class="p-0 d-flex flex-row ul-icons gap-3">
          <li class="mb-2">
            <a href="#"><i class="bi bi-facebook text-light"></i></a>
          </li>

          <li class="mb-2">
            <a href="#"><i class="bi bi-instagram text-light"></i></a>
          </li>

          <li class="mb-2">
            <a href="#"><i class="bi bi-twitter-x text-light"></i></a>
          </li>
        </ul>
      </div>

      <div class="col pt-3">
        <h4 class="text-light">Sede principal</h4>
        <ul class="text-light p-0">
          <li class="mb-2">
            <span> Cra 14 #6-39, Barrio Las Marías </span>
          </li>
          <li class="mb-2">
            <span> Ciudad: Valledupar - Cesar </span>
          </li>
        </ul>
      </div>

      <div class="col pt-3">
        <h4 class="text-light">Líneas de atención</h4>
        <ul class="text-light p-0">
          <li class="mb-2">
            <span>Celular (whatsapp): +57 310741782</span>
          </li>
          <li class="mb-2">
            <span> Fijo: 01800530530 </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center mt-5">
    <span class="text-light">Todos los derechos reservados &copy;</span>
  </div>
</footer>
