<!-- <div class="container mb-4">
  <h1 class="text-center pt-2 text-white pt-4">Panel Conductor</h1>
</div> -->
<div class="container pt-4">
  <div class="row">
    <div class="col-md-3">
      <!-- Sidebar -->
      <div class="card" style="width: 18rem">
        <img src="images/conductor1.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Opciones</h5>
        </div>
        <div class="list-group list-group-flush">
          <a href="#" class="list-group-item list-group-item-action">Inicio</a>
          <a href="#" class="list-group-item list-group-item-action"
            >Mis Rutas</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Historial de Viajes</a
          >
          <a href="#" class="list-group-item list-group-item-action"
            >Configuración</a
          >
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <!-- Panel Principal -->
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h5 class="text-center pt-2 text-white">Panel Conductor</h5>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            Bienvenido, conductor {{ conductor.nombres }}
            {{ conductor.apellidos }}
          </h5>
          <p class="card-text mt-2">
            Aquí puedes ver tu información, rutas asignadas y más.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
