<div class="container mb-4">
  <h1 class="text-center pt-2 text-white pt-4">{{ title }}</h1>
</div>
<div class="container d-flex flex-wrap justify-content-center gap-3 row-gap-0">
  <div class="card mb-3" style="width: 18rem">
    <img src="/images/moduloEmpleados.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Módulo empleados</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a (click)="goEmpleados()" class="btn btn-primary">Ir a módulo</a>
    </div>
  </div>

  <div class="card mb-3" style="width: 18rem">
    <img src="/images/moduloVehiculos.jpg" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Módulo vehículos</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a (click)="goVehiculos()" class="btn btn-primary">Ir a módulo</a>
    </div>
  </div>

  <div class="card mb-3" style="width: 18rem">
    <img src="/images/moduloClientes.webp" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Módulo clientes</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a (click)="goClientes()" class="btn btn-primary">Ir a módulo</a>
    </div>
  </div>

  <div class="card mb-3" style="width: 18rem">
    <img src="/images/moduloViajes.webp" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">Módulo Viajes</h5>
      <p class="card-text">
        Some quick example text to build on the card title and make up the bulk
        of the card's content.
      </p>
      <a (click)="goViajes()" class="btn btn-primary">Ir a módulo</a>
    </div>
  </div>
</div>
